/* Configuração geral */
body {
    background: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.logo img {
    height: 150px;
    justify-content: center;  
}

/* Reduzindo margens laterais */
.container {
    max-width: 90%;
    margin: auto;
}

/* Cartões */
.card {
    border: none;
    border-radius: 10px;
    background-color: grey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Tabelas */
.flex-table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.flex-table th,
.flex-table td {
    text-align: center; /* Alinhamento horizontal */
    vertical-align: middle; /* Centralização vertical */
    padding: 10px;
    white-space: nowrap; /* Evita quebra de texto */
    text-overflow: ellipsis; /* Aplica "..." para texto que excede o espaço */
    overflow: hidden; /* Evita transbordamento */
}

.flex-table th {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
}

/* Botões de ações */
.flex-table .d-flex {
    gap: 10px; /* Espaço entre botões */
    justify-content: center; /* Centraliza botões dentro da célula */
}

/* Adiciona scroll horizontal somente quando necessário */
.card-body {
    overflow-x: auto;
}
