/* Configuração geral */
body {
    background: #000;
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Logo */
.logo img {
    height: 100px;
}

/* Botões */
.btn-secondary {
    background-color: #6c757d;
    border: none;
    font-size: 16px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Cartões */
.card {
    border: none;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.card-header {
    font-weight: bold;
}

.card-body {
    background-color: #222;
    padding: 0; /* Remove o espaçamento interno */
    overflow-x: auto; /* Adiciona barra de rolagem horizontal se necessário */
}

/* Tabelas */
.table-dark {
    background-color: #333;
  
    table-layout: auto; /* Permite que as colunas se ajustem ao conteúdo */
}

.table-dark th, .table-dark td {
    color: #fff;
    white-space: nowrap; /* Evita quebras de texto */
    overflow: hidden; /* Esconde excesso de texto */
    text-overflow: ellipsis; /* Adiciona "..." para texto longo */
}

/* Remove margens laterais do container */
.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 80%; /* Garante que o container ocupe toda a largura */
}

